@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Assalomu Alaykum!</h1>
    <p>Bbu joyda turli C# va (.Net) bo'yicha ma'lumotlar bo'lishi kerak edi.</p>
</div>
